<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<input type="file">
<button id="upload">上传</button>
<label>
    人名
    <input type="text">
</label>
<button id="search">查询</button>
<script>


    let upBtn = document.querySelector('#upload');
    let seaBtn = document.querySelector('#search');

    upBtn.addEventListener('click', function () {
        let file = document.querySelector('input[type="file"]').files[0];

        let formData = new FormData();
        formData.append('file', file);

        let xhr = new XMLHttpRequest();
        //解决跨越
        xhr.withCredentials = true;
        xhr.open('POST', 'http://localhost:8888/book/importExcel', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(xhr.responseText);
            } else {
                console.log('上传失败');
            }
        };
        xhr.send(formData);
    })

    seaBtn.addEventListener('click', function () {
        let name = document.querySelector('input[type="text"]').value;
        let xhr = new XMLHttpRequest();

        xhr.open('GET', 'http://localhost:8888/book/getListByName?name=' + name, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(xhr.responseText);
            } else {
                console.log('查询失败');
            }
        };
        xhr.send();
    })
</script>
</body>
</html>