*, :after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #333;
    --bs-root-font-size: 1rem;
    --bs-root-font-weight: 400;
    --bs-root-line-height: 1.5;
}

#app {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background-color: #e9e9e9;
}